
<%- include ('partials/_header.ejs') -%>
<div class="container">
  <div class="sticky-top bg-light">
    <div>
      <h1 class="py-4">Administradores</h1>
    </div>
    <div class="p-2">
      <a href="/admin"><button class="btn btn-danger mr-2">Actualizar</button></a>
      <a href="#"></a>
      
    </div>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Estado</th>
        <th scope="col">fecha</th>
        <th scope="col">nombre</th>
      </tr>
    </thead>
    <tbody>
     
      <% for (var i=0; i < usuarios.length; i++){ %>
        <% let fechaUser = usuarios[i].fecha.toLocaleDateString() %>
        <% let horaUser = usuarios[i].fecha.toLocaleTimeString() %>
          <% let today = new Date().toLocaleDateString()%>
 
    
            
              <tr>
                <td><%= i+1 %></td>
                <td><input type="checkbox" onclick="changeStatus('<%= usuarios[i].id %>')"></td>
                <td><%= usuarios[i].fecha.toLocaleDateString() %> <%= usuarios[i].fecha.toLocaleTimeString() %></td>
                <td><div><%= usuarios[i].nombre %></div><small class="text-secondary"><%=usuarios[i].telefono_lista%></small></td>
              
              </tr>
              <% if(fechaUser == today && horaUser > '08:00:00'){%>
          <% } %>
      <% } %>
    </tbody>
  </table>
</div>
<script src="/js/mostrar-picker.js"></script>
<%- include ('partials/_footer.ejs') -%>